{% load static %}
{% load custom_filters %}


<!DOCTYPE html>
<html lang="en">

<head>        
    {% include 'head.html' %}
    <script src="https://cdn.jsdelivr.net/npm/lozad@1.14.0/dist/lozad.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const observer = lozad('.lozad', {
                rootMargin: '200px 0px',  // Adjust the rootMargin as per your requirements
                threshold: 0.1
            });
            observer.observe();
        });
        </script> 
</head>

<body>
    {% include 'topbar.html' %}

    <!-- Navbar Start -->
    {% include 'navbar.html' %}
    <!-- Navbar End -->

    <!-- Header Start -->
    <div class="container-fluid page-header" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Courses</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home'%}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Courses</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    
    {% include 'category.html' %}

    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <h1>Our Popular Courses</h1>
            </div>
            <div class="row">
                {% for item in page_obj %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2">
                        <!-- <div style="width: 300px; height: 200px;"> -->
                            <img class="lozad" data-src="{{ item.img_url }}" alt="" style="object-fit: cover; width: 100%; height: 100%;">
                        <!-- </div> -->
                        <div class="bg-secondary p-4">
                            <div class="d-flex justify-content-between mb-3">
                                <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>{{ item.university_name|truncate_string:"22,19" }}</small>
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>{{ item.start_date }}</small>
                            </div>
                            <a class="h5" href="{{ item.course_url }}" target="_blank">{{ item.course_name|truncate_string:"55,52" }}</a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>{{ item.rating_count }} <small>review: <b>{{ item.review_count }}</b></small></h6>
                                    <h5 class="m-0">{{ item.price }}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Pagination -->
            <div class="pagination d-flex justify-content-center mt-4">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a class="btn btn-primary btn-sm d-sm-inline-block mr-sm-2 mb-2 mb-sm-0" href="?page=1">&laquo;</a>
                        <a class="btn btn-primary btn-sm d-sm-inline-block mr-sm-2" href="?page={{ page_obj.previous_page_number }}">&lt;</a>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                        {% if i == page_obj.number %}
                            <span class="current-page d-inline-block mx-2 mx-sm-4">Page {{ i }} of {{ page_obj.paginator.num_pages }}</span>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-primary btn-sm d-sm-inline-block mr-sm-2" href="?page={{ page_obj.next_page_number }}">&gt;</a>
                        <a class="btn btn-primary btn-sm d-sm-inline-block" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
    <!-- Courses End -->


    {% include 'footer.html' %}


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static '/lib/easing/easing.min.js' %}"></script>
    <script src="{% static '/lib/owlcarousel/owl.carousel.min.js' %}"></script>

    <!-- Contact Javascript File -->
    <script src="{% static '/mail/jqBootstrapValidation.min.js' %}"></script>
    <script src="{% static '/mail/contact.js' %}"></script>

    <!-- Template Javascript -->
    <script src="{% static '/js/main.js' %}"></script>
</body>

</html>